<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyB1KS-ZHOAcrghOZtef0RN_IZ_8MwW-vmQ",
        authDomain: "dilangotest.firebaseapp.com",
        databaseURL: "https://dilangotest.firebaseio.com",
        projectId: "dilangotest",
        storageBucket: "dilangotest.appspot.com",
        messagingSenderId: "764948745239"
    };
    firebase.initializeApp(config);

    var db = firebase.firestore();
    // Disable deprecated features
    db.settings({
        timestampsInSnapshots: true
    });

    firebase.firestore().enablePersistence()
        .catch(function (err) {
            if (err.code == 'failed-precondition') {
                // Multiple tabs open, persistence can only be enabled
                // in one tab at a a time.
                // ...
            } else if (err.code == 'unimplemented') {
                // The current browser does not support all of the
                // features required to enable persistence
                // ...
            }
        });





    //signin()
    Delete()
    //addcity()
    //signout()



///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
function signin()
{
    //firebase.auth().signInWithEmailAndPassword('keerthanan1@gmail.com', '123456').then(function (firebaseUser) {
    firebase.auth().signInWithEmailAndPassword('test@test.com', '123456').then(function (firebaseUser) {


var admin = firebase.auth().currentUser;

}).catch(function (error) {
// Handle Errors here.
var errorCode = error.code
var errorMessage = error.message
switch (errorCode) {
    case "auth/invalid-email":

        break;
    case "auth/wrong-password":

        break;
    case "auth/user-not-found":


        break;
}


});
}
    

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    firebase.auth().onAuthStateChanged(function (admin) {
        if (admin) {
            var displayName = admin.displayName;
            var email = admin.email;
            var emailVerified = admin.emailVerified;
            var photoURL = admin.photoURL;
            var isAnonymous = admin.isAnonymous;
            var uid = admin.uid;
            var providerData = admin.providerData;
            var phoneNumber = admin.phoneNumber;

            console.log(email)

        }
        else {
            console.log("Signed out")

        }
    });

///////////////////////////////////////////////////////////////////////////////////
    function Delete() {


        db.collection("cities").get().then(function (doc) {
        //db.collection("cities").where("id", "==", "h0EyJJC6kuR8ptWF1g6UQJQNFCC2").get().then(function (doc) {    

            doc.forEach(function (doc_data) {


                var city = doc_data.data()
                console.log(city.name)

                /*if (city.name == "batticalo") {
                    db.collection("cities").doc(doc_data.id).delete().then(function () {

                        console.log('Deleted')

                    }).catch(function (error) {
                        console.error("Error removing document: ", error);

                    })
                }*/


            })

            return 0
        }).catch(function () { return 0 })


    }

   

///////////////////////////////////////////////////////////////////////////////////
    function addcity() {
        db.collection("cities").doc().set({

            "name": 'trinco'


        }).then(function (doc) {
            console.log("city Inserted")

        }).catch(function (error) {
            console.error("Error set document: ", error);
        })
    }

    
    ///////////////////////////////////////////////////////////////////////////////

    function signout() {
       
            firebase.auth().signOut();

    }



</script>